@tailwind base;
@tailwind components;
@tailwind utilities;

.background-div {
  background-image: url('../public/assets/homebg.jpg');
  background-size: cover;
  background-position: center;
}
.partner-div {
  background-image: url('../public/assets/partnersBg.svg');
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
}

.wallet-button:hover,
.wallet-button:active {
    background-color: black;
    color: yellow;
}

.outer-globe {
  animation: rotate-clockwise 10s linear infinite;
}

.inner-globe {
  animation: rotate-counterclockwise 12s linear infinite;
}

@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.subtitle {
  animation: slideInFromLeft 2s ease-out forwards;
}

