@tailwind base;
@tailwind components;
@tailwind utilities;

.background-div {
  background-image: url('../public/assets/homebg.jpg');
  background-size: cover;
  background-position: center;
}
.partner-div {
  background-image: url('../public/assets/partnersBg.svg');
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
}

.wallet-button:hover,
.wallet-button:active {
    background-color: black;
    color: yellow;
}

.outer-globe {
  animation: rotate-clockwise 10s linear infinite;
}

.inner-globe {
  animation: rotate-counterclockwise 12s linear infinite;
}

@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.subtitle {
  animation: slideInFromLeft 2s ease-out forwards;
}


/* Partners.css */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0); /* Stop when the first image reaches the right corner */
  }
}

.scroll-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scroll-content {
  display: inline-flex;
  animation: scroll linear forwards; /* Use forwards to stop at the end */
}

.scroll-container:hover .scroll-content {
  animation-play-state: paused;
}

.partner-card {
  display: inline-block;
  flex: none;
}


/* Enjoy.css */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideInFromLeft 1s ease-out forwards;
}

.image-container {
  display: inline-block; /* Ensures container wraps around the image */
  position: relative; /* Allows absolute positioning of the image */
}

.vibrate-image {
  display: block;
  width: 110px;
  height: 130px;
  transition: transform 0.1s linear;
}

.vibrate-image:hover {
  animation: vibrate 0.3s infinite linear;
}

@keyframes vibrate {
  0% { transform: translate(0px, 0px); }
  20% { transform: translate(-2px, -2px); }
  40% { transform: translate(2px, 2px); }
  60% { transform: translate(-2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0px, 0px); }
}




