@tailwind base;
@tailwind components;
@tailwind utilities;

.background-div {
  background-image: url('../public/assets/homebg.jpg');
  background-size: cover;
  background-position: center;
}

.wallet-button:hover,
.wallet-button:active {
    background-color: black;
    color: yellow;
}